/**********************************
 * Extend Backend Skin
 *
 */

/**********************************
 * Top nav
 *
 */
nav#layout-mainmenu.navbar .nav li {
  padding-top: 17px;
  padding-bottom: 17px;
}

nav#layout-mainmenu.navbar .nav li a {
  display: block;
}

nav#layout-mainmenu.navbar .nav li {
  padding: 0;

  a { padding: 31px 0; }
}

nav#layout-mainmenu .nav-icon {
  display: none;
}


/**********************************
 * Sidebar
 *
 */
.sidenav-tree ul.top-level > li > ul li a,
.sidenav-tree,
#layout-sidenav {
  background-color: #111111;
}


/**********************************
 * Site tree
 *
 */
.sidenav-tree ul.top-level > li > div.group h3 {
  background-color: #1D1D1D;
}

.sidenav-tree ul.top-level > li > ul li.active a,
.sidenav-tree ul.top-level > li > ul li:hover a {
  background-color: #2F2F2F;
}

.sidenav-tree ul.top-level > li > div.group:before,
.sidenav-tree ul.top-level > li > div.group:after {
  content: none;
}


/**********************************
 * StaticPage Plugin edits
 *
 */

.oc-bg-logo {
  background-image: none; // Remove background image
}

.control-treeview ol > li > div:before,
.control-treeview ol > li > ol > li > ol > li > div:before,
.control-treeview ol > li.has-subitems > div:before {
  background-image: none;
  width: 0;
  height: 0;
}

.control-treeview ol > li > div > a {
  padding-left: 25px;
}

.control-treeview ol > li > ol > li > div > a {
  padding-left: 45px;
}

.control-treeview ol > li > ol > li > ol > li > div > a {
  padding-left: 55px;
}

.control-treeview ol > li > ol > li > ol > li > ol > li > div > a {
  padding-left: 65px;
}

.control-treeview ol > li > ol > li > div > span.expand {
  left: 22px;
}

.control-treeview ol > li > ol > li > ol > li > div > span.expand {
  left: 32px;
}


/**********************************
 * Page edit view
 *
 */

.fancy-layout .form-tabless-fields input[type=text] {
  font-size: 18px;
}

.fancy-layout .form-tabless-fields {
  padding: 6px 23px 0 23px;
}

.fancy-layout .control-tabs.primary-tabs > div > ul.nav-tabs > li a {
  padding: 0 16px;
}


/**********************************
* Static Pages plugin sidebar
*
*/

#layout-side-panel .fix-button { display: none !important; }


/**********************************
 * Field sizes
 *
 */

.layout .field-richeditor.size-giant .redactor-editor {
  height: 760px !important;
}


/**********************************
 * Drag & Drop fix
 *
 */

.control-treeview ol > li.placeholder {
  height: 45px !important;
  background: #ecf0f1;
  display: block;
  border: none;
}

.control-treeview ol > li.placeholder:after,
.control-treeview ol > li.placeholder:before {
  top: 50%;
  transform: translateY(-50%);
}


/**********************************
 * Hide "Hidden" and "Hide in navigation" fields from StaticPages plugin edit view
 *
 */

// .tab-content [data-field-name="viewBag[is_hidden]"],
.tab-content [data-field-name="viewBag[navigation_hidden]"] {
  display: none;
}


/**********************************
 * Fix editor styles when moved to tab
 *
 */

.moved-to-secondary .field-richeditor { border-left: none !important; }


/**********************************
 * Fixes StaticPage background when using variable fields along with span=left
 * or span=right to position field
 *
 */

.fancy-layout .control-tabs.secondary-content-tabs.has-tabs > div.tab-content {
  background-color: #ffffff;
}


/**********************************
 * Fixes background color on StaticPage page nav (Settings, Meta) when
 * .master-area is missing
 *
 */

.fancy-layout .control-tabs.primary-tabs > div > ul.nav-tabs,
.fancy-layout.control-tabs.primary-tabs > div > ul.nav-tabs {
  transition: background-color 0.5s;
  background: #e67e22;
}

.layout-cell.sidenav-tree {
  width: 300px;
  max-width: 300px;
}

.field-mediafinder.style-image-single .find-object .icon-container {
  background-color: rgba(0, 0, 0, 0.5);
}


/***********************************
 * Fixes invisible image previews and richeditor images by adding a background
 * color to png, gif and svg images
 *
 */
.control-richeditor,
.field-mediafinder.is-populated.is-image {
  [src$=".svg"],
  [src$=".png"],
  [src$=".gif"] {
    background-color: rgba(0,0,0,.2);
  }
}


/***********************************
 * Hide translate plugin backend field locale overflow for long locale slugs
 *
 */
.field-multilingual .ml-btn {
  overflow: hidden;
}


/***********************************
 * Update master locale switcher on StaticPages
 *
 */

/* Add button background color */
.fancy-layout .form-buttons [data-control="master-locale-switcher"] .btn {
  background-color: #d35400;
  margin-right: 0;
  opacity: 1;
  padding: 6px 12px;
  position: relative;
  z-index: 3;
}

.fancy-layout .form-buttons [data-control="master-locale-switcher"] .btn:hover {
  background-color: #8e3c04;
}

/* Update dropdown alignment */
[data-control="master-locale-switcher"] .dropdown-menu {
  left: auto;
  right: 0;
}

[data-control="master-locale-switcher"] .dropdown-menu .dropdown-container > ul:before,
[data-control="master-locale-switcher"] .dropdown-menu .dropdown-container > ul:after {
  left: auto;
  right: 15px;
}

/***********************************
 * Allow primary-tab class to be used on backend form fields
 * Useful for richeditor fields with stretch="true"
 */
.widget-field.primary-tab {
  padding: 0 !important;
}

/***********************************
 * Adds class to DateTime field for ReadOnly=true
 * Prevents the input field from receiving the click event
 */
.datetime-field-readonly-fix [readonly="readonly"] {
  pointer-events: none;
}

/***********************************
 * Removes bottom border from section title if it's the only form item
 */
.tab-pane .form-group.section-field:first-child:nth-last-child(2) {
  padding-bottom: 0;
}

.tab-pane .form-group.section-field:first-child:nth-last-child(2) .field-section {
  border-bottom: 0;
}

/***********************************
 * Remove background color from nested tabs
 */
.fancy-layout [data-object-type="page"] .field-repeater-item .control-tabs.primary-tabs > div > ul.nav-tabs {
  background-color: transparent;
}


/***********************************
 * Update nested tabs color
 */
.fancy-layout [data-object-type="page"] .field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li a span.title,
.fancy-layout [data-object-type="page"] .field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li a span.title:before,
.fancy-layout [data-object-type="page"] .field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li a span.title:after {
  background-color: #eeeeee;
}

.fancy-layout [data-object-type="page"] .field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li.active a span.title,
.fancy-layout [data-object-type="page"] .field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li.active a span.title:before,
.fancy-layout [data-object-type="page"] .field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li.active a span.title:after {
  background-color: #fafafa;
}

.fancy-layout [data-object-type="page"] .field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li a span.title span {
  position: relative;
  top: 2px;
}

.field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li a >span.title:before,
.field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li a >span.title:after {
  background-color: #f5f5f5;
}

.field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li.active a:before {
  background-color: #f5f5f5;
}

.field-repeater-item .control-tabs >div >ul.nav-tabs >li a >span.title >span {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 7px;
  margin-left: -4px;
  margin-right: -4px;
  margin-bottom: -4px;
}

div.nested-form .field-repeater-item .control-tabs >div >ul.nav-tabs >li a >span.title >span {
  background: #f9f9f9;
}

.fancy-layout [data-object-type="page"] div.nested-form .field-repeater-item .control-tabs >div >ul.nav-tabs >li a >span.title >span {
  background-color: transparent;
}

div.nested-form .field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li a {
  padding-bottom: 0;
}

div.nested-form .field-repeater-item .control-tabs.primary-tabs >div >ul.nav-tabs >li.active a:before {
  background-color: #f9f9f9;
}

div.nested-form.panel-styles .control-tabs.primary-tabs .nav-tabs >li >a >span.title:before,
div.nested-form.panel-styles .control-tabs.primary-tabs .nav-tabs >li >a >span.title:after {
  background-color: #f9f9f9;
}

div.nested-form .field-repeater-item .control-tabs >div.tab-content >div.tab-pane {
  padding: 20px 20px 0 20px;
}

div.nested-form .field-repeater-item .control-tabs.has-tabs .tab-content.layout-row {
  background-color: #f9f9f9;
}

/***********************************
 * Update page section title font size
 */
[data-object-type="page"] .field-repeater-item .field-section > h4:first-child {
  font-size: 16px;
}
